@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>@ViewData["Title"]</h1>
<h3>Congratulations You have created an account. Please log in!</h3>


<partial name="_StatusMessage" model="Model.StatusMessage" />